h1 {
  font-style: italic;
  font-size: 50px;
  font-weight: 300px;
  text-align: center;
  font-family: 'Jacques Francois Shadow', cursive;
  text-decoration-line: inherit
}



h2 {
  color: blueviolet;
  font-family: 'Kablammo', cursive;
}

h3 {
  background-color: aqua;
  text-align: center;
  font-size: x-large;
}

h4,
h5,
h6 {
  font-size: larger
}

h4,
h5 {
  font-style: oblique;
}

h6 {
  text-decoration-line: underline;
  text-decoration-color: red;
}

header p {
  font-size: larger;
  color: deeppink;
  text-shadow: 3px 3px 3px rgb(94, 128, 0);
}

article p {
  font-size: large
}

body {
  background-image: url(https://i.pinimg.com/originals/f2/25/f0/f225f0da5b621b872f6513d59f89a9b6.jpg);
}

ul {
  list-style-type: square;
  font-size: larger;
  list-style-position: outside;
  background: #ffe5e5;
  color: rgb(139, 00, 69);
}



aside {
  width: 80;
  height: 50px;
  margin-right: 800px;
  font-style: italic;
  background-color: darkorange;
  text-align: center;
}





table,
th,
td {
  border: 1px solid;
  text-align: center;
}

tr:hover {
  background-color: coral;
}

ol {
  list-style-type: upper-roman;
  background-color: burlywood;
  font-size: large;
  color: darkblue;
  opacity: 0.6;
}

iframe {
  border-style: dotted;
}



footer {
  border-style: double;
  width: 600px;
  height: 50px;
  background-color: yellow;
}



.padre {
  width: 300px;
  height: 150px;
  background-color: aqua;
  position: relative;
  top: 15px;
  left: 300px;
  bottom: 5px;
}


.hijo {
  width: 250px;
  height: 170px;
  background-color: rgb(255, 0, 119);
  position: relative;
  left: 300px;
  bottom: 35px;
  border: ridge;
  overflow: scroll;
}


#Subir {
  position: sticky;
  bottom: 18px;
  left: 800px;
  background-color: rgb(0, 238, 255);
  border-color: blueviolet;
  color: black;
  width: 500px;
  height: 100px;
}
.flex-container{
  display: flex;
  background-color:blueviolet;
  width:290px;
  height: 40px;
  border:groove;
 
}

.flex-container div{
  background-color:aqua;
  margin:5px;
  width: 80px;
  height: 25px;
  border:ridge;
align-items: center;

}

  



